<!DOCTYPE html>
<html lang="en">

<%- include("./partials2/head.ejs") %> 

<script>
  $(document).ready(function() {
      $('#dataTable').dataTable({
          order: [[0, 'desc']]
      });
      $("#btnAdd").click(function(){
        $("#addModal").modal("show");
      });
  });
</script>


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include("./partials2/sidebar.ejs") %> 

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%- include("./partials2/topbar.ejs") %> 

                <!-- Begin Page Content -->
                <div class="container my-5">

                  <!-- Page Heading -->

                  <div class="container border-warning border-start border-1 mb-3">
                      <h1 class="h3">Products</h1>
                  </div>

                  <div class="container">
                      <div class="row">
                          <div class="col">
                              <% if (success != "") { %>
                                  <div class="alert alert-success text-center" role="alert">
                                      <p class="text-center"><%= success %> </p>
                                  </div>
                              <% } %>
                              <% if (error != "") { %>
                                  <div class="alert alert-danger" role="alert">
                                      <ul>
                                          <% error.forEach(element => { %>
                                          <li><%= element %></li>
                                          <% }) %>
                                      </ul>
                                      
                                  </div>
                              <% } %>
                          </div>
                      </div>
                  </div>
                  

                  <!-- DataTales Supplier -->
                  <div class="card shadow mb-4">
                      <div class="card-body">
                          <div class="row">
                              <div class="col text-end">
                                  <button class="btn btn-success" id="btnAdd">Add Wish</button>
                              </div>
                              
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table" id="dataTable" width="100%" cellspacing="0">
                                  <thead>
                                      <tr>
                                          <th>ID</th>
                                          <th>My Wish</th>
                                          <th>Date</th>
                                          <th>Actions</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                  <% if (data != "") { %>
                                     <% data.forEach(element => { %>
                                      <tr>
                                          <td><%= element.wishlist_id%></td>
                                          <td><%= element.wish %></td>
                                          <td> <%= element.date.getDate()  + "/" + (element.date.getMonth()+1) + "/" + element.date.getFullYear() %></td>
                                          <td>
                                              <a class="link" href="/user/wishlist/delete/<%= element.wishlist_id %>"><i class="fas fa-trash fa-fw text-danger"></i></a>
                                          </td>
                                      </tr>
                                     <% }) %>
                                  <% } %> 
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>

              </div>
                <!-- /.container-fluid -->

            </div>

                <!-- ADD MODAL -->
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="modalTitleId">Add Wish</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form action="/user/wishlist" method="post">
                          <div class="modal-body">

                              <input type="hidden" name="user_id" value="<%= sessions.user_id %>">
                              <div class="mb-3">
                                  <label for="" class="form-label">My Wish<span class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Required">*</span></label>
                                  <textarea name="wish" id="" cols="30" rows="5" class="form-control" required></textarea>
                              </div>
                            
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-success">Add</button>
                          </div>
                      </form>
                  </div>
              </div>
            </div>

            <!-- End of Main Content -->

            <%- include("./partials2/footer.ejs") %> 
            

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <%- include("./partials2/scripts.ejs") %> 

</body>

</html>